<style type="text/css">
            .logo-menu-wrapper{
            background-color: #6B8E23;
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            line-height: 29px;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;

            }
        </style>